<footer class="footer" >
<%= link_to image_tag("aliens/dunmer.png", :id=>"bannerImg") %>
<%= link_to image_tag("aliens/diablo.png", :id=>"bannerImg") %>
<%= link_to image_tag("aliens/fallout.png", :id=>"bannerImg") %>
<%= link_to image_tag("aliens/colors.png", :id=>"bannerImg") %>
<%= link_to image_tag("aliens/conan.png", :id=>"bannerImg") %>
<%= link_to image_tag("aliens/link.png", :id=>"bannerImg") %>
<%= link_to image_tag("aliens/warthunder.png", :id=>"bannerImg") %>
<%= link_to image_tag("aliens/portal.png", :id=>"bannerImg") %>
<%= link_to image_tag("aliens/virginiatech.png", :id=>"bannerImg") %>
<%= link_to image_tag("aliens/tyrael.png", :id=>"bannerImg") %>
<%= link_to image_tag("aliens/formula1.png", :id=>"bannerImg") %>
<%= link_to image_tag("aliens/joker.png", :id=>"bannerImg") %>

<br>
<hr>

	<small>
		The Redditing
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "FAQ", faq_path %></li>
		</ul>
	</nav>
</footer>

<style>
#banner2 {
	text-align: center;
}
</style>
