<div id="mySidenav" class="sidenav">
  	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <h1 class="sidebar-brand"><u>Menu</u></h1>

  	<li><%= link_to "<span class=\"glyphicon glyphicon-home\"></span> Home".html_safe, root_path %></li>
	<% if logged_in? %>
    <li><%= link_to "<span class=\"glyphicon glyphicon-list-alt\"></span> Subreddits".html_safe, current_user %></li>
		<li><%= link_to "<span class=\"glyphicon glyphicon-book\"></span> Preferences".html_safe, preference_path %></li>
		<li><%= link_to "<span class=\"glyphicon glyphicon-cog\"></span> Settings".html_safe, edit_user_path(current_user) %></li>
		<% if current_user.admin?%>
			<li><%= link_to "<span class=\"glyphicon glyphicon-list-alt\"></span> Users".html_safe, users_path %></li>
		<% end %>
	<% end %>
	<% if logged_in? %>
		<li><%= link_to "<span class=\"glyphicon glyphicon-log-out\"></span> Log out".html_safe, logout_path, method: :delete %></li>
	<% else %>
		<li><%= link_to "<span class=\"glyphicon glyphicon-info-sign\"></span> About".html_safe, about_path %></li>
		<li><%= link_to "<span class=\"glyphicon glyphicon-question-sign\"></span> FAQ".html_safe, faq_path %></li>
		<li><%= link_to "<span class=\"glyphicon glyphicon-log-in\"></span> Login".html_safe, login_path %></li>
	<% end %>

</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()" class="glyphicon glyphicon-list" style="font-size:50px; cursor:pointer; color: lightgrey" id = "sidenav">
</span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
}
</script>
