<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <li><%= link_to "<span class=\"glyphicon glyphicon-home\"></span> Home".html_safe, root_path %></li>
	<% if logged_in? %>
		<li><%= link_to "Profile", current_user %></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Account <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><%= link_to "Settings", edit_user_path(current_user) %></li>
				<% if current_user.admin?%>
					<li><%= link_to "Users", users_path %></li>
				<% end %>
				<li class="divider"></li>
				<li>
					<%= link_to "<span class=\"glyphicon glyphicon-log-out\"></span> Log out", logout_path, method: :delete %>
				</li>
			</ul>
		</li>
	<% else %>
		<li><%= link_to "<span class=\"glyphicon glyphicon-log-in\"></span> Login".html_safe, login_path %></li>
	<% end %>
		<li><%= link_to "<span class=\"glyphicon glyphicon-info-sign\"></span> About".html_safe, about_path %></li>
		<li><%= link_to "<span class=\"glyphicon glyphicon-question-sign\"></span> FAQ".html_safe, faq_path %></li>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()" class="glyphicon glyphicon-list" style="font-size:50px; cursor:pointer; color: lightgrey" id = "sidenav" >
INDEX
</span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
}
</script>
