<style>

#bannerImg {
  width: 100%;
  background-image: url("/assets/sidebar-bg.jpg");
  height: 100px;
  background-color: purple;
  background-position: fill;
  background-size: cover;
  padding-top: 0px;
  color: lightblue;
}

.container{
  background-color: black;
  color: white;
}

#subredditLogo {
  width: 10%;
  height: auto;
}

</style>
<div id = "bannerImg" >
  <h1>
    <img src = "/assets/subreddit-logo.png" id = "subredditLogo">
    <u>S U B R E D D I T S</u>
    <img src = "/assets/subreddit-logo.png" id = "subredditLogo">
  </h1>
</div>
<% Subreddit.distinct.pluck(:category).each do |s| %>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= s %> |</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Top Threads"%></li>
      <li><%= link_to "Hottest Threads"%></a></li>
      <li><%= link_to "Top Comments"%></li>
      <li><%= link_to "Hottest Comments"%></a></li>
    </ul>
  </div>
  </nav>

  <div class="media">
  <div class="media-left media-middle">
    <%= image_tag("aliens/tech.png") %>
  </div>
  <div class="media-body">
    <p>Thread Subreddit</p>
    <p>Thread Description</p>
  </div>
  </div>
<% end %>
