<nav class="navbar navbar-inverse">
  <div class="accordion">
    <div class="panel-group">
      <% @user.subreddits.distinct.pluck(:category).each_with_index do |c, index| %>

      <div class="panel-heading">
       <div class="container-fluid">
          <br>
          <div class="navbar-header">
            <a class="navbar-brand" data-toggle="collapse" href="#collapse<%= index.to_s %>"><%= c %><br /></a>

          </div>
        </div>
      </div>
      <div id="collapse<%= index.to_s %>" class="panel-collapse collapse">
      <% @user.subreddits.where(category: c).pluck(:subreddit).each do |s| %>
        <div class="media">
          <div class="media-body">
            <% @subredditPost.subredditStructure.each do | key, post | %>
            <% if s.include? post[1] %>
            <div>

              <table id="post" >
                <tr>

                  <th>
                    <% if (post[2].include? "self") || (post[2].include? "default") || (post[2].empty?) %>
                    <%= image_tag("nothumb.png", :id => "postImg") %>
                    <% else %>
                    <% if post[4].nil? || post[4].empty? %>
                    <img src=<%= post[2] %>></a>
                    <% else %>
                    <a href=<%= post[4] %>><img src=<%= post[2] %>></a>
                    <% end %>
                    <% end %>
                  </th>

                  <th>
                    <%= link_to "/r/" + post[1] + ": ", "https://reddit.com/r/" + post[1], target: :_blank, :id => "post0" %>
                    <br>
                    <%= link_to post[0], "https://www.reddit.com" + post[3], target: :_blank, :id => "post1" %>
                  </th>
                </tr>
              </table>

              <hr>

            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
<!--   <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li id="showMeTitle">Show me:</li>
      <li><%= link_to "Newest Threads", :controller => :users, :action => :showNewPosts %></li>
      <li><%= link_to "Top Threads", :controller => :users, :action => :showTopPosts %></li>
      <li><%= link_to "Hottest Threads", :controller => :users, :action => :showHotPosts %></li>
    </ul>
  </div> -->
</nav>

<style>
#subredditBanner {
  width: 100%;
  background-image: url('/assets/sidebar-bg.jpg');
  height: 100px;
  background-color: lightblue;
  background-position: fill;
  background-size: cover;
  padding-top: 0px;
  color: lightblue;
}

#subredditLogo {
  width: 10%;
  height: auto;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
  float:none;
  font-size: 40px;
}

.media {
  background: image-url('/assets/sidebar-bg.jpg');
  background-size: cover;
}


.table {
  background-color: #99ccff;
  color: black;
  width: 100%;
}

#post0 {
  color: orange;
  display: inline-block;
  margin-left: 20px;
}

#post0:hover {
  color: red;
  transition: 0.3s;

}

#post1 {
  color: lightgrey;
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
}

hr {
  border-color: lightblue;
}

.container{
  background-color: black;
  color: white;
}

.navbar-nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 40%;
  right: 0px;
  width: 275px;
  border: 3px solid orange;
  font-size: 25px;
  font-family: Courier;
  font-weight: bold;
}

</style>
