<% provide(:title, 'Subreddits') %>
<div id = "subredditBanner" >
  <h1>
    <img src = "/assets/subreddit-logo.png" id = "subredditLogo">
    <u>S U B R E D D I T S</u>
    <img src = "/assets/subreddit-logo.png" id = "subredditLogo">
  </h1>
  <div class="list_table">
    <ul id="horizontal-list">
      <li><%= link_to "Newest Posts", :controller => :users, :action => :showNewPosts %> | </li>
      <li><%= link_to "Top Posts", :controller => :users, :action => :showTopPosts %> | </li>
      <li><%= link_to "Hottest Posts", :controller => :users, :action => :showHotPosts %></li>
    </ul>
  </div>
</div>

<%= render 'subreddit_post' %>
<%= render 'layouts/footer' %>

<style>
#subredditBanner {
  width: 100%;
  background-image: url("/assets/sidebar-bg.jpg");
  height: 200px;
  background-color: purple;
  background-position: fill;
  background-size: cover;
  padding-top: 0px;
  color: lightblue;
}

#subredditBanner h1{
  margin-bottom: 0px;
}

.list_table {
  display: table;
  margin: 0 auto;
  text-align: center;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  font-size: 25px;
  font-family: Courier;
  font-weight: bold;
  color: white;
}

ul#horizontal-list li {
  display: inline;
}

ul#horizontal-list li a {
  color: white;
}

</style>
